<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="MySQLImpl" class="com.test.dao.UserDaoMySQLImpl"/>
    <bean id="OracleImpl" class="com.test.dao.UserDaoOracleImpl"/>
    <bean id="UserServiceImpl" class="com.test.service.UserServiceImpl">
        <property name="userDao" ref="OracleImpl"/>
    </bean>
    <!--ref  引用Spring容器中创建好的对象
            value 具体的值
        -->

</beans>